.select {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 20px;
    width: 70px;
    font-size: 24px;
    font-weight: 700;
    z-index: 10;
}

.content {
    z-index: 10;
    border: 1px #4C4F54 solid;
    padding: 10px;
    border-radius: 10px;
    background: #202026;
}

.item {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: 700;
}

.itemIndicator {
    margin-left: auto;
}